/*-----------------------PRINCIPAL---------------------*/
:root {
    --fond1: #323861;
    --fond2: #14B789;
    --fond3: #E8DEDE;
    --fontPrincipale: 'DM Sans';

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

}

.bouton {
    border: 1px solid white;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    color: white;
    padding: 10px;
}

.bouton:hover {
    color: black;
    background-color: white;
    font-weight: bolder;
}


@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    src: url('font/dm-sans-v15-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
    background-color: var(--fond3);
    font-family: var(--fontPrincipale);
    font-size: 18px;
}

#contenu{
    background-color: var(--fond3);
}

/*-----------------------HEADER---------------------*/

#bandeau {
    background-color: var(--fond1);
    color: white;
    display: flex;
    align-items: center;
    padding: 16px 0;
}


#bandeau h1 {
    width: 25%;
    margin-left: 15px;
    font-size: 1.8rem;

}

#bandeau #menuPrincipal {
    width: 50%;
}

#bandeau h1 a {
    color: white;
}

#bandeau #menuPrincipal ul {
    display: flex;
}

#bandeau #menuPrincipal ul li a {
    color: white;
    /*text-transform: uppercase;*/
    margin-right: 16px;
    padding-bottom: 5px;
}

#bandeau #menuPrincipal ul li a:hover,
#bandeau #menuPrincipal ul li a.choix {
    color: var(--fond2);
    border-bottom: 2px solid var(--fond2);
}

#bandeau #telephone {
    width: 25%;
    display: flex;
}

#bandeau #telephone i {
    background-color: white;
    color: var(--fond1);
    padding: 8px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 16px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
}

#bandeau #telephone .tel {
    padding: 10px 16px;
    border: 1px solid white;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

/*------------BLOCK BIENVENUE------------*/

#bienvenu {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background-color: var(--fond1);
}

#bienvenu .bienvenuText {
    width: 68%;

}

#bienvenu .avatar {
    width: 28%;
}

#bienvenu .avatar img {
    width: 100%;
}

#bienvenu .bienvenuText .hello {
    display: flex;
    margin-top: 20px;
}

#bienvenu .bienvenuText .hello img {
    width: 12%;
    margin-right: 20px;
}

#bienvenu .bienvenuText .hello h2 {
    display: flex;
    background-color: white;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    justify-content: center;
    align-items: center;
    padding: 0 80px;
    margin: 16px 0px;
    font-size: 2.2rem;
}

#bienvenu .bienvenuText h3 {
    display: flex;
    color: var(--fond2);
    background-color: white;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    justify-content: center;
    align-items: center;
    width: 67.5%;
    margin-top: 50px;
    padding: 12px 20px;
    font-size: 1.5rem;
    margin: 50px 0px;
}

/*-----------------HISTOIRE------------*/

#histoire{
    background-color: var(--fond3);
    display: flex;
    justify-content: space-around;
    padding: 40px 24px;
}

#histoire .imgHistoire,  #histoirContenu{
    width: 48%;
}

#histoire .imgHistoire{
    height: 100%; /*évite la défomation de l'image en hauteur*/
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
#histoire #histoirContenu{
    width: 48%;  
}

.titre{
    display: flex;
    background-color: var(--fond2);
    border: radius 26px;
    border-radius: 25px;
    -moz-border-radius:25px;
    -ms-border-radius:25px;
    -o-border-radius:25px;
    -webkit-border-radius:25px;
    align-items: center;
    color: white;
    justify-content: space-between;
    padding: 0 10%;
    font-size: 2.8rem;    
}

#histoire #histoirContenu h2 img{
    width: 24%;
   /* margin-left: 3%;*/
}

#histoire #histoirContenu h3{
    margin: 24px 0;
    font-weight: bold;
}

/*-----------------PROJET------------*/

#projets{
    display: flex;
    padding: 40px 24px;
    flex-wrap: wrap;
}

#projets .titre{
    flex-direction: row-reverse;
}

#projets h2 img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#projets .projet{
    width: 46%;
}

#projets .projet img{
    width: 98%;
}